{% extends "base.html" %}

{% block title %}
D'Limiter - About

{% endblock %}

{% block content %}

<section>
    <h3>About</h3>
        <article>
        <p>D'Limiter is a simple utility to convert from columnar data to <strong>C</strong>omma <strong>S</strong>eparated <strong>V</strong>alue (CSV) for all your <s>cooking</s> coding needs.</p>
        <p>Built using Python & Flask</p>
        <warning>Available for use as is without any warranty, implied or otherwise.</warning>

        </article>
    </form>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}

