{% extends "base.html" %}

{% block title %}
D'Limiter - About

{% endblock %}

{% block content %}

<section>
        <h3>About</h3>
        <article>
        
        <p>D'Limiter is a simple utility to convert from columnar data to <strong>C</strong>omma <strong>S</strong>eparated <strong>V</strong>alue (CSV) for all your <s>cooking</s> coding needs.</p>
        <p>Built using Flask(Python), JavaScript and Good aul HTML</p>

        <section id="aboutme">
            <h5>Some other stuff of mine</h5>
            <ul>
                <li><a href="http://barebonesdaily.blogspot.com/" target="_blank">Barebones Daily: Blog o' mine from way back</a></li>
                <li><a href="http://www.jsunscripted.com/" target="_blank">JavaScript: Unscripted:  My ramblings on JavaScript</a></li>
                <li><a href="https://www.youtube.com/channel/UCuM_vLmNnCRLkHXFgghz3mQ" target="_blank">YouTube channel</a></li>
                <li><a href="https://github.com/donyd" target="_blank">Github</a></li>
            </ul>
        </section>

        <warning>Available for use as is without any warranty, implied or otherwise.</warning>

        </article>
  
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}

