{% extends "base.html" %}

{% block title %}
D'Limiter - Change Log

{% endblock %}

{% block content %}

<section>
        <h3>Change Log</h3>
        <article>
        
        <section id="change">
            <h5>August 8th, 2018</h5>
            <ul>
                <li>Change Log page added.</li>
                <li>Basic one click function enabled: currently only copies converted csv on select.</li>
            </ul>
            
            <h5>August 7th, 2018</h5>
            <ul>
                <li>Updated About page and other cosmetics.</li>
            </ul>

            <h5>July 21st - 22nd, 2018</h5>
            <ul>
                <li>Convert to CSV and Column capabilities added.</li>
                <li>Published online <a href="http://donyd.pythonanywhere.com/index" target="_blank">link</a>.</li>
            </ul>

            <h5>July 8th, 2018</h5>
            <ul>
                <li>Wired up transfer between columns.</li>
                <li>First commit to Github.</li>
            </ul>

        
        </section>


        </article>
  
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}