{% extends "base.html" %}

{% block title %}
D'Limiter
{% endblock %}

{% block content %}

<article>
        <header>
            <p>Enter columnar data on the left to have CSV output on the right. One Click allows easy assisted pasting and copying.</p>
        </header>

        <section>
             
            <div id="columnar"> 
                <textarea  id="columnData"></textarea>
                <button class="btn" onclick="convertToCSV()">Create CSV</button>
            </div>
             
            
            <div id="oneclickcheck">
                <label class="oneclickcheck">
                    <input type="checkbox" name="oneclick">
                    One Click
                </label>
                <button class="btn" onclick="clearAll()">Clear</button>
            </div>
            

            
            <div id="csv">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <textarea id="csvData">{{ message }}</textarea>
                    {% endfor %}
                {% else %}
                    <textarea id="csvData" ></textarea>
                {% endif %}
                {% endwith %}
                <button class="btn" onclick="convertToColumn()">Create Column</button>
            </div>
            
        </section>
        
</article>

{% endblock %}

{% block sidebar %}
{% endblock %}
  